// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) 2020 Marek Vasut <marex@denx.de>
 */
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/pwm/pwm.h>

/dts-v1/;
/plugin/;

/ {
	fragment-0 {
		target-path = "/";
		#address-cells = <1>;
		#size-cells = <1>;
		__overlay__ {
			display_bl: display-bl {
				compatible = "pwm-backlight";
				pwms = <&pwm2 0 500000 PWM_POLARITY_INVERTED>;
				brightness-levels = <0 16 22 30 40 55 75 102 138 188 255>;
				default-brightness-level = <8>;
				enable-gpios = <&gpioi 0 GPIO_ACTIVE_HIGH>;
				status = "okay";
			};

			panel {
				compatible = "edt,etm0700g0edh6";
				backlight = <&display_bl>;

				port {
					lcd_panel_in: endpoint {
						remote-endpoint = <&lcd_display_out>;
					};
				};
			};
		};
	};

	fragment-1 {
		target-path = "/soc/timer@40000000";
		#address-cells = <1>;
		#size-cells = <1>;
		__overlay__ {
			/* spare dmas for other usage (un-delete to enable pwm capture) */
			/delete-property/dmas;
			/delete-property/dma-names;
			status = "okay";
			pwm2: pwm {
				#pwm-cells = <3>;
				pinctrl-0 = <&pwm2_pins_a>;
				pinctrl-names = "default";
				status = "okay";
			};
			timer@1 {
				status = "okay";
			};
		};
	};

	fragment-2 {
		target-path = "/soc/display-controller@5a001000";
		#address-cells = <1>;
		#size-cells = <1>;
		__overlay__ {
			pinctrl-names = "default", "sleep";
			pinctrl-0 = <&ltdc_pins_b>;
			pinctrl-1 = <&ltdc_pins_sleep_b>;
			status = "okay";

			port {
				lcd_display_out: endpoint {
					remote-endpoint = <&lcd_panel_in>;
				};
			};
		};
	};

	fragment-3 {
		target-path = "/led";
		#address-cells = <1>;
		#size-cells = <1>;
		__overlay__ {
			/* LED5 GPIO-E conflicts with touchscreen IRQ */
			/delete-node/ led-0;
		};
	};

	fragment-4 {
		target-path = "/soc/i2c@40015000";
		#address-cells = <1>;
		#size-cells = <1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			polytouch@38 {
				compatible = "edt,edt-ft5x06";
				reg = <0x38>;
				/* Touchscreen IRQ GPIO-E conflicts with LED5 GPIO */
				interrupt-parent = <&gpiog>;
				interrupts = <2 IRQ_TYPE_EDGE_FALLING>; /* GPIO E */
				linux,wakeup;
			};
		};
	};
};
